ion-content {
    --border: 1px solid #000;
  --background: linear-gradient(180deg, #4C7DE6 73.44%, rgba(96, 111, 145, 0.46) 99.99%);
  --box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  width: 100%;
  height: 100%;
  padding: 1rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  }
  ion-text {
    font-family: Arial, Helvetica, sans-serif;
    }
  .enca{
    display: flex;
    margin: 10px;
  }
  .txt1{
    color: #FFF;

font-style: italic;
font-weight: 700;
line-height: normal;
position: absolute;
top: 3%;
left: 23%;
font-size: 130%;
  }
  .txt2{
    color: #FFF;

font-style: italic;
font-weight: 700;
line-height: normal;
position: absolute;
top: 6%;
left: 23%;
font-size: 130%;
  }
  .logo{
    width: 22%;
    height: 22%;
  }
 
.txt3{
    color: #FFF;
    text-align: center;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    font-size: 220%;
    position: absolute;
    top: 20%;
    left: 19%;
}
.txt4{
    color: #FFF;
    text-align: center;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    font-size: 220%;
    position: absolute;
    top: 25%;
    left: 33%;
}
.container{
    border-radius: 1.3125rem;
border: 5px solid #FFF;
width: 76%;
height: 40%;
position: absolute;
top: 32%;
left: 10%;
}
.container2{
   
position: absolute;
top: 75%;
left: 35%;
}

.bot1{
    background:rgba(217, 217, 217, 0.20);
    border-radius: 50%;
    width: 15%;
    height: 7%;
    position: absolute;
    top: 75%;
    right: 8%;
}
.bot2{
    background:rgba(217, 217, 217, 0.20);
    border-radius: 50%;
    width: 15%;
    height: 7%;
    position: absolute;
    top: 75%;
    left: 8%;
}
.omi{
  display: flex;

  align-items: center;
  gap: 21px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.40);
  width: 300px;
  height: 50px;
  position: absolute;
  top: 85%;
  left: 14%;
  
}
.tomi{
  
    color: #FFF;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
  margin-right: 5px;
  margin-left: -20px;
  
}
@media screen and (max-width: 300px) {
    ion-content {
      display: flex;
      width: 430px;
      height: 932px;
      padding: 10px;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      }
    
      .enca{
        display: flex;
        margin: 10px;
      }
      .txt1{
    position: absolute;
    top: 3%;
    left: 23%;
    font-size: 130%;
      }
      .txt2{
    position: absolute;
    top: 6%;
    left: 23%;
    font-size: 130%;
      }
      .logo{
        width: 22%;
        height: 22%;
      }
     
    .txt3{
 
        font-size: 220%;
        position: absolute;
        top: 20%;
        left: 19%;
    }
    .txt4{

        font-size: 220%;
        position: absolute;
        top: 25%;
        left: 33%;
    }
    .container{
     
    width: 76%;
    height: 40%;
    position: absolute;
    top: 32%;
    left: 10%;
    }
    .container2{
       
    position: absolute;
    top: 75%;
    left: 35%;
    }
    .bot1{
      
        width: 15%;
        height: 7%;
        position: absolute;
        top: 75%;
        right: 8%;
    }
    .bot2{
       
        width: 15%;
        height: 7%;
        position: absolute;
        top: 75%;
        left: 8%;
    }
    .omi{

      width: 300px;
      height: 50px;
      position: absolute;
      top: 85%;
      left: 14%;
      
    }

    
  }